.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    color: var(--color-dark);
    background-color: var(--color-light-shade);
}

.expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    text-align: right;
}

.expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-dark);
    padding: 0.5rem;
    border: none;
}

@media (min-width: 580px) {
    .expense-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .expense-item__description h2 {
        font-size: 1.25rem;
    }

    .expense-item__price {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
        border-left: 2px solid var(--color-primary-shade);

    }
}

@media (max-width: 425px) {
    .expense-item {
        flex-direction: column;
    }

    .expense-item > * {
        width: 100%;
    }

    .expense-date {
        flex-direction: row;
        gap: .5rem;
        height: auto;
        padding-block: .5em;
        line-height: 1;
        align-items: baseline;
    }

    .expense-item__price {
        width: 100%;
        margin-top: .5rem;
        text-align: center;
    }

    .expense-item__description {
        align-items: center;
    }
}
